body{
  margin: 20px;
}
.card{
  height: 150px;
  width: 350px;
  border: solid;
  border-radius: 5%;
  background-color: beige;
  padding-left: 10px;
  margin: 40px;
  list-style: none;
}
.separator{
  height: 1px;
  width: 100vw;
  background-color: grey;
  margin-bottom: 30px;
}
.title{
  display: flex;
  flex-direction: row;
  padding: 0%;
  align-items: center;
  justify-content: space-evenly;
}
